venv/
__pycache__/
.env
terraform/terraform.tfvars
terraform/.terraform.tfstate.lock.info
terraform/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.43.0/windows_amd64/CHANGELOG.md
terraform/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.43.0/windows_amd64/LICENSE
terraform/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.43.0/windows_amd64/README.md
terraform/.terraform/providers/registry.terraform.io/digitalocean/digitalocean/2.43.0/windows_amd64/terraform-provider-digitalocean_v2.43.0.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.33.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.33.0/windows_amd64/terraform-provider-kubernetes_v2.33.0_x5.exe

