venv/
__pycache__/
.env
terraform/terraform.tfvars

.vscode/settings.json

terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan
terraform/.terraform.lock.hcl

terraform/.terraform/
terraform/grafana/

.idea/